In [199]:
import pandas as pd
import matplotlib.pyplot as plt
df_train_labels_original = pd.read_csv('train_labels.csv',low_memory=False)
df_train_values_original = pd.read_csv('train_values.csv',low_memory=False, dtype= {
'geo_level_1_id':'uint8', 'geo_level_2_id':'uint16', 'geo_level_3_id':'uint16', 'count_floors_pre_eq':'uint8','age':'uint16', 'area_percentage':'uint16', 'height_percentage':'uint16', 
'land_surface_condition':'category', 'foundation_type':'category', 'roof_type':'category', 'ground_floor_type':'category', 'other_floor_type':'category', 'position':'category','plan_configuration':'category', 
'has_superstructure_adobe_mud':'bool', 'has_superstructure_mud_mortar_stone':'bool','has_superstructure_stone_flag':'bool', 'has_superstructure_cement_mortar_stone':'bool', 'has_superstructure_mud_mortar_brick':'bool', 'has_superstructure_cement_mortar_brick':'bool', 'has_superstructure_timber':'bool', 'has_superstructure_bamboo':'bool', 'has_superstructure_rc_non_engineered':'bool', 'has_superstructure_rc_engineered':'bool', 'has_superstructure_other':'bool', 
'legal_ownership_status':'category', 'count_families':'uint16', 
'has_secondary_use':'bool', 'has_secondary_use_agriculture':'bool', 'has_secondary_use_hotel':'bool', 'has_secondary_use_rental':'bool', 'has_secondary_use_institution':'bool', 'has_secondary_use_school':'bool', 'has_secondary_use_industry':'bool', 'has_secondary_use_health_post':'bool', 'has_secondary_use_gov_office':'bool', 'has_secondary_use_use_police':'bool', 'has_secondary_use_other':'bool',})

In [195]:
df_train_labels_original.head(10)

   building_id  damage_grade
0       802906             3
1        28830             2
2        94947             3
3       590882             2
4       201944             3
5       333020             2
6       728451             3
7       475515             1
8       441126             2
9       989500             1

In [196]:
df_train_labels_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 2 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   building_id   260601 non-null  int64
 1   damage_grade  260601 non-null  int64
dtypes: int64(2)
memory usage: 4.0 MB

In [200]:
df_train_values_original.head(10)

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,802906,6,487,12198,2,30,6,5,t,r,...,False,False,False,False,False,False,False,False,False,False
1,28830,8,900,2812,2,10,8,7,o,r,...,False,False,False,False,False,False,False,False,False,False
2,94947,21,363,8973,2,10,5,5,t,r,...,False,False,False,False,False,False,False,False,False,False
3,590882,22,418,10694,2,10,6,5,t,r,...,False,False,False,False,False,False,False,False,False,False
4,201944,11,131,1488,3,30,8,9,t,r,...,False,False,False,False,False,False,False,False,False,False
5,333020,8,558,6089,2,10,9,5,t,r,...,True,False,False,False,False,False,False,False,False,False
6,728451,9,475,12066,2,25,3,4,n,r,...,False,False,False,False,False,False,False,False,False,False
7,475515,20,323,12236,2,0,8,6,t,w,...,False,False,False,False,False,False,False,False,False,False
8,441126,0,757,7219,2,15,8,6,t,r,...,False,False,False,False,False,False,False,False,False,False
9,989500,26,886,994,1,0,13,4,t,i,...,False,False,False,False,False,False,False,False,False,False

In [201]:
df_train_values_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 39 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             260601 non-null  int64
 1   geo_level_1_id                          260601 non-null  uint8
 2   geo_level_2_id                          260601 non-null  uint16
 3   geo_level_3_id                          260601 non-null  uint16
 4   count_floors_pre_eq                     260601 non-null  uint8
 5   age                                     260601 non-null  uint16
 6   area_percentage                         260601 non-null  uint16
 7   height_percentage                       260601 non-null  uint16
 8   land_surface_condition                  260601 non-null  category
 9   foundation_type                         260601 non-null  category
 10  roof_type                               260601 non-null  category
 11  ground_floor_type                       260601 non-null  category
 12  other_floor_type                        260601 non-null  category
 13  position                                260601 non-null  category
 14  plan_configuration                      260601 non-null  category
 15  has_superstructure_adobe_mud            260601 non-null  bool
 16  has_superstructure_mud_mortar_stone     260601 non-null  bool
 17  has_superstructure_stone_flag           260601 non-null  bool
 18  has_superstructure_cement_mortar_stone  260601 non-null  bool
 19  has_superstructure_mud_mortar_brick     260601 non-null  bool
 20  has_superstructure_cement_mortar_brick  260601 non-null  bool
 21  has_superstructure_timber               260601 non-null  bool
 22  has_superstructure_bamboo               260601 non-null  bool
 23  has_superstructure_rc_non_engineered    260601 non-null  bool
 24  has_superstructure_rc_engineered        260601 non-null  bool
 25  has_superstructure_other                260601 non-null  bool
 26  legal_ownership_status                  260601 non-null  category
 27  count_families                          260601 non-null  uint16
 28  has_secondary_use                       260601 non-null  bool
 29  has_secondary_use_agriculture           260601 non-null  bool
 30  has_secondary_use_hotel                 260601 non-null  bool
 31  has_secondary_use_rental                260601 non-null  bool
 32  has_secondary_use_institution           260601 non-null  bool
 33  has_secondary_use_school                260601 non-null  bool
 34  has_secondary_use_industry              260601 non-null  bool
 35  has_secondary_use_health_post           260601 non-null  bool
 36  has_secondary_use_gov_office            260601 non-null  bool
 37  has_secondary_use_use_police            260601 non-null  bool
 38  has_secondary_use_other                 260601 non-null  bool
dtypes: bool(22), category(8), int64(1), uint16(6), uint8(2)
memory usage: 12.9 MB

In [181]:
df_train_values_original['land_surface_condition'].value_counts()

t    216757
n     35528
o      8316
Name: land_surface_condition, dtype: int64

In [182]:
df_train_values_original['foundation_type'].value_counts()

r    219196
w     15118
u     14260
i     10579
h      1448
Name: foundation_type, dtype: int64

In [183]:
df_train_values_original['roof_type'].value_counts()

n    182842
q     61576
x     16183
Name: roof_type, dtype: int64

In [184]:
df_train_values_original['ground_floor_type'].value_counts()

f    209619
x     24877
v     24593
z      1004
m       508
Name: ground_floor_type, dtype: int64

In [185]:
df_train_values_original['other_floor_type'].value_counts()

q    165282
x     43448
j     39843
s     12028
Name: other_floor_type, dtype: int64

In [186]:
df_train_values_original['position'].value_counts()

s    202090
t     42896
j     13282
o      2333
Name: position, dtype: int64

In [187]:
df_train_values_original['plan_configuration'].value_counts()

d    250072
q      5692
u      3649
s       346
c       325
a       252
o       159
m        46
n        38
f        22
Name: plan_configuration, dtype: int64

In [188]:
df_train_values_original['legal_ownership_status'].value_counts()

v    250939
a      5512
w      2677
r      1473
Name: legal_ownership_status, dtype: int64