In [15]:
import pandas as pd
import tensorflow as tf
import numpy

In [16]:
model = tf.keras.models.load_model('modelos/NNModelBY_Best')

In [25]:
df = pd.read_csv('test_values.csv',low_memory=False, dtype= {
    'geo_level_1_id':'category', 
    'geo_level_2_id':'category',
    'geo_level_3_id':'category', 
    'count_floors_pre_eq':'uint8',
    'age':'uint16',
    'area_percentage':'uint16', 
    'height_percentage':'uint16', 
    'land_surface_condition':'category', 
    'foundation_type':'category',
    'roof_type':'category',
    'ground_floor_type':'category',
    'other_floor_type':'category',
    'position':'category',
    'plan_configuration':'category', 
    'has_superstructure_adobe_mud':'uint8',
    'has_superstructure_mud_mortar_stone':'uint8',
    'has_superstructure_stone_flag':'uint8',
    'has_superstructure_cement_mortar_stone':'uint8', 
    'has_superstructure_mud_mortar_brick':'uint8', 
    'has_superstructure_cement_mortar_brick':'uint8', 
    'has_superstructure_timber':'uint8', 
    'has_superstructure_bamboo':'uint8',
    'has_superstructure_rc_non_engineered':'uint8',
    'has_superstructure_rc_engineered':'uint8',
    'has_superstructure_other':'uint8', 
    'legal_ownership_status':'category',
    'count_families':'uint16', 
    'has_secondary_use':'uint8', 
    'has_secondary_use_agriculture':'uint8', 
    'has_secondary_use_hotel':'uint8',
    'has_secondary_use_rental':'uint8',
    'has_secondary_use_institution':'uint8',
    'has_secondary_use_school':'uint8', 
    'has_secondary_use_industry':'uint8', 
    'has_secondary_use_health_post':'uint8', 
    'has_secondary_use_gov_office':'uint8', 
    'has_secondary_use_use_police':'uint8', 
    'has_secondary_use_other':'uint8',
}).set_index('building_id')

In [26]:
df_train_labels_original = pd.read_csv('train_labels.csv',low_memory=False, dtype= {
    'damage_grade':'uint8'
}).set_index('building_id').apply(lambda x: x-1)
df_train_values_original = pd.read_csv('train_values.csv',low_memory=False, dtype= {
    'geo_level_1_id':'category', 
    'geo_level_2_id':'category',
    'geo_level_3_id':'category', 
    'count_floors_pre_eq':'uint8',
    'age':'uint16',
    'area_percentage':'uint16', 
    'height_percentage':'uint16', 
    'land_surface_condition':'category', 
    'foundation_type':'category',
    'roof_type':'category',
    'ground_floor_type':'category',
    'other_floor_type':'category',
    'position':'category',
    'plan_configuration':'category', 
    'has_superstructure_adobe_mud':'uint8',
    'has_superstructure_mud_mortar_stone':'uint8',
    'has_superstructure_stone_flag':'uint8',
    'has_superstructure_cement_mortar_stone':'uint8', 
    'has_superstructure_mud_mortar_brick':'uint8', 
    'has_superstructure_cement_mortar_brick':'uint8', 
    'has_superstructure_timber':'uint8', 
    'has_superstructure_bamboo':'uint8',
    'has_superstructure_rc_non_engineered':'uint8',
    'has_superstructure_rc_engineered':'uint8',
    'has_superstructure_other':'uint8', 
    'legal_ownership_status':'category',
    'count_families':'uint16', 
    'has_secondary_use':'uint8', 
    'has_secondary_use_agriculture':'uint8', 
    'has_secondary_use_hotel':'uint8',
    'has_secondary_use_rental':'uint8',
    'has_secondary_use_institution':'uint8',
    'has_secondary_use_school':'uint8', 
    'has_secondary_use_industry':'uint8', 
    'has_secondary_use_health_post':'uint8', 
    'has_secondary_use_gov_office':'uint8', 
    'has_secondary_use_use_police':'uint8', 
    'has_secondary_use_other':'uint8',
}).set_index('building_id').drop(columns=['geo_level_3_id'])


pd.options.display.float_format = '{:20,.2f}'.format

In [27]:
mean_df = df_train_values_original.join(df_train_labels_original,how="inner")
mean_df

,geo_level_1_id,geo_level_2_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,ground_floor_type,...,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade
building_id,,,,,,,,,,,,,,,,,,,,,
802906,6,487,2,30,6,5,t,r,n,f,...,0,0,0,0,0,0,0,0,0,2
28830,8,900,2,10,8,7,o,r,n,x,...,0,0,0,0,0,0,0,0,0,1
94947,21,363,2,10,5,5,t,r,n,f,...,0,0,0,0,0,0,0,0,0,2
590882,22,418,2,10,6,5,t,r,n,f,...,0,0,0,0,0,0,0,0,0,1
201944,11,131,3,30,8,9,t,r,n,f,...,0,0,0,0,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
688636,25,1335,1,55,6,3,n,r,n,f,...,0,0,0,0,0,0,0,0,0,1
669485,17,715,2,0,6,5,t,r,n,f,...,0,0,0,0,0,0,0,0,0,2
602512,17,51,3,55,6,7,t,r,q,f,...,0,0,0,0,0,0,0,0,0,2
151409,26,39,2,10,14,6,t,r,x,v,...,0,0,0,0,0,0,0,0,0,1
747594,21,9,3,10,7,6,n,r,n,f,...,0,0,0,0,0,0,0,0,0,2

In [28]:
def mean_encode(dataframe, column_name):
    new_column_names = {
        0: column_name+'_0',
        1: column_name+'_1',
        2: column_name+'_2',
    }
    cross = pd.crosstab(dataframe[column_name], dataframe['damage_grade']).rename(columns=new_column_names)
    prob = cross.divide(cross.apply('sum',axis=1),axis=0).reset_index()
    return prob

In [29]:
def one_hot_encode_data(dataframe, column_name):
    dummies = pd.get_dummies(dataframe[column_name])
    rename_columns = {}
    for column in dummies.columns.values:
        rename_columns[column] = column_name + '_' + column
    return dataframe.drop(columns=[column_name]).join(dummies.rename(columns=rename_columns))

In [30]:
#mean_df = mean_encode(mean_df, "geo_level_2_id")
#mean_df['geo_level_2_id_0'].isnull().values.any()

In [31]:
#df = df.reset_index().merge(mean_df,on='geo_level_2_id',how='left').set_index('building_id').drop(columns=['geo_level_2_id'])
df = df.drop(columns=['geo_level_2_id', 'geo_level_3_id'])
df

,geo_level_1_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,ground_floor_type,other_floor_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
building_id,,,,,,,,,,,,,,,,,,,,,
300051,17,3,20,7,6,t,r,n,f,q,...,0,0,0,0,0,0,0,0,0,0
99355,6,2,25,13,5,t,r,n,f,q,...,1,0,0,0,0,0,0,0,0,0
890251,22,2,5,4,5,t,r,n,f,q,...,0,0,0,0,0,0,0,0,0,0
745817,26,1,0,19,3,t,r,x,v,j,...,0,0,1,0,0,0,0,0,0,0
421793,17,3,15,8,7,t,r,q,f,q,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310028,4,3,70,20,6,t,r,q,f,q,...,1,0,0,0,0,0,0,0,0,0
663567,10,3,25,6,7,n,r,n,f,q,...,0,0,0,0,0,0,0,0,0,0
1049160,22,1,50,3,3,t,r,n,f,j,...,0,0,0,0,0,0,0,0,0,0
442785,6,2,5,9,5,t,r,n,f,q,...,0,0,0,0,0,0,0,0,0,0
501372,26,2,10,11,4,t,r,q,v,q,...,0,0,0,0,0,0,0,0,0,0

In [32]:
df = one_hot_encode_data(df,'land_surface_condition')
df = one_hot_encode_data(df,'foundation_type')
df = one_hot_encode_data(df,'roof_type')
df = one_hot_encode_data(df,'ground_floor_type')
df = one_hot_encode_data(df,'other_floor_type')
df = one_hot_encode_data(df,'position')
df = one_hot_encode_data(df,'plan_configuration')
df = one_hot_encode_data(df,'legal_ownership_status')
df = one_hot_encode_data(df,'geo_level_1_id')
df

,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_cement_mortar_stone,has_superstructure_mud_mortar_brick,has_superstructure_cement_mortar_brick,...,geo_level_1_id_28,geo_level_1_id_29,geo_level_1_id_3,geo_level_1_id_30,geo_level_1_id_4,geo_level_1_id_5,geo_level_1_id_6,geo_level_1_id_7,geo_level_1_id_8,geo_level_1_id_9
building_id,,,,,,,,,,,,,,,,,,,,,
300051,3,20,7,6,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99355,2,25,13,5,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
890251,2,5,4,5,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
745817,1,0,19,3,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
421793,3,15,8,7,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310028,3,70,20,6,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
663567,3,25,6,7,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1049160,1,50,3,3,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
442785,2,5,9,5,1,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
501372,2,10,11,4,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [33]:
#test_database = df.to_numpy()
#predictions = model(test_database).numpy()
#pd.DataFrame(predictions).to_csv("ensamble_train_feda.csv")

In [34]:
test_database = df.to_numpy()
predictions = model(test_database).numpy()
building_ids = df.reset_index()['building_id']
results = []
for line in predictions:
    if line[0] > line [1] and line [0] > line [2]:
        results.append(1)
    elif line[1] > line[2]:
        results.append(2)
    else:
        results.append(3)
result_series = pd.Series(results).rename("damage_grade")
my_submission = pd.merge(building_ids,result_series,left_index=True,right_index=True).set_index('building_id')

In [35]:
my_submission.to_csv('submission_feda_5.csv')