In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from itertools import cycle, islice
import datetime as datetime
import glob
from matplotlib import pyplot
import plotly.graph_objects as go
import plotly.io as pio
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import log_loss, make_scorer
import category_encoders as ce
from sklearn.ensemble import RandomForestRegressor
import warnings

%matplotlib inline

plt.style.use('default')
sns.set(style="whitegrid")
pd.options.display.float_format = '{:20,.2f}'.format
warnings.filterwarnings('ignore')
plt.rcParams['figure.figsize'] = (15, 5)

from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn import tree
from catboost import CatBoostRegressor

In [2]:
# for preprocessing the data
from sklearn.preprocessing import StandardScaler
# the model
from sklearn.ensemble import RandomForestClassifier
# for combining the preprocess with model training
from sklearn.pipeline import make_pipeline
# for optimizing the hyperparameters of the pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import f1_score

In [3]:
train_labels = pd.read_csv('training_train_labels.csv',low_memory=False, dtype= {
    'damage_grade':'uint8'
}).set_index('building_id')
train_values = pd.read_csv('training_train_values.csv',low_memory=False, dtype= {
    'geo_level_1_id':'category', 
    'geo_level_2_id':'category',
    'geo_level_3_id':'category', 
    'count_floors_pre_eq':'uint8',
    'age':'uint16',
    'area_percentage':'uint16', 
    'height_percentage':'uint16', 
    'land_surface_condition':'category', 
    'foundation_type':'category',
    'roof_type':'category',
    'ground_floor_type':'category',
    'other_floor_type':'category',
    'position':'category',
    'plan_configuration':'category', 
    'has_superstructure_adobe_mud':'uint8',
    'has_superstructure_mud_mortar_stone':'uint8',
    'has_superstructure_stone_flag':'uint8',
    'has_superstructure_cement_mortar_stone':'uint8', 
    'has_superstructure_mud_mortar_brick':'uint8', 
    'has_superstructure_cement_mortar_brick':'uint8', 
    'has_superstructure_timber':'uint8', 
    'has_superstructure_bamboo':'uint8',
    'has_superstructure_rc_non_engineered':'uint8',
    'has_superstructure_rc_engineered':'uint8',
    'has_superstructure_other':'uint8', 
    'legal_ownership_status':'category',
    'count_families':'uint16', 
    'has_secondary_use':'uint8', 
    'has_secondary_use_agriculture':'uint8', 
    'has_secondary_use_hotel':'uint8',
    'has_secondary_use_rental':'uint8',
    'has_secondary_use_institution':'uint8',
    'has_secondary_use_school':'uint8', 
    'has_secondary_use_industry':'uint8', 
    'has_secondary_use_health_post':'uint8', 
    'has_secondary_use_gov_office':'uint8', 
    'has_secondary_use_use_police':'uint8', 
    'has_secondary_use_other':'uint8',
}).set_index('building_id')

pd.options.display.float_format = '{:20,.2f}'.format

In [4]:
train_values.head()

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
building_id,,,,,,,,,,,,,,,,,,,,,
802906,6,487,12198,2,30,6,5,t,r,n,...,0,0,0,0,0,0,0,0,0,0
28830,8,900,2812,2,10,8,7,o,r,n,...,0,0,0,0,0,0,0,0,0,0
94947,21,363,8973,2,10,5,5,t,r,n,...,0,0,0,0,0,0,0,0,0,0
590882,22,418,10694,2,10,6,5,t,r,n,...,0,0,0,0,0,0,0,0,0,0
201944,11,131,1488,3,30,8,9,t,r,n,...,0,0,0,0,0,0,0,0,0,0

In [5]:
train = train_values.merge(train_labels, on='building_id')
train

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,...,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade
building_id,,,,,,,,,,,,,,,,,,,,,
802906,6,487,12198,2,30,6,5,t,r,n,...,0,0,0,0,0,0,0,0,0,3
28830,8,900,2812,2,10,8,7,o,r,n,...,0,0,0,0,0,0,0,0,0,2
94947,21,363,8973,2,10,5,5,t,r,n,...,0,0,0,0,0,0,0,0,0,3
590882,22,418,10694,2,10,6,5,t,r,n,...,0,0,0,0,0,0,0,0,0,2
201944,11,131,1488,3,30,8,9,t,r,n,...,0,0,0,0,0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1007913,10,1382,11935,2,60,11,6,t,u,x,...,0,0,0,0,0,0,0,0,0,2
349181,13,1154,1044,2,0,8,4,n,r,n,...,0,0,0,0,0,0,0,0,0,1
1009561,26,1001,11008,1,5,15,3,t,i,x,...,0,0,0,0,0,0,0,0,0,2
643147,7,901,3451,2,20,14,4,t,r,n,...,0,0,0,0,0,0,0,0,0,2
637205,17,721,7789,2,25,2,4,t,r,q,...,0,0,0,0,0,0,0,0,0,3

In [6]:
train = train.drop('geo_level_1_id', axis=1)
train = train.drop('geo_level_2_id', axis=1)
train = train.drop('geo_level_3_id', axis=1)
train = train.drop('land_surface_condition', axis=1)
#train = train.drop('count_floors_pre_eq', axis=1)

In [7]:
#edad promedio segun cantidad de pisos
train['edad_promedio'] = train.groupby('count_floors_pre_eq')['age'].transform('mean')

In [8]:
train.head()

,count_floors_pre_eq,age,area_percentage,height_percentage,foundation_type,roof_type,ground_floor_type,other_floor_type,position,plan_configuration,...,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade,edad_promedio
building_id,,,,,,,,,,,,,,,,,,,,,
802906,2,30,6,5,r,n,f,q,t,d,...,0,0,0,0,0,0,0,0,3,25.82
28830,2,10,8,7,r,n,x,q,s,d,...,0,0,0,0,0,0,0,0,2,25.82
94947,2,10,5,5,r,n,f,x,t,d,...,0,0,0,0,0,0,0,0,3,25.82
590882,2,10,6,5,r,n,f,x,s,d,...,0,0,0,0,0,0,0,0,2,25.82
201944,3,30,8,9,r,n,f,x,s,d,...,0,0,0,0,0,0,0,0,3,30.18

In [9]:
#cantidad de tipos de techo segun edad
train['tipo_techo'] = train.groupby('age')['roof_type'].transform('count')
#train = train.drop('roof_type', axis=1)

In [10]:
train.head()

,count_floors_pre_eq,age,area_percentage,height_percentage,foundation_type,roof_type,ground_floor_type,other_floor_type,position,plan_configuration,...,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade,edad_promedio,tipo_techo
building_id,,,,,,,,,,,,,,,,,,,,,
802906,2,30,6,5,r,n,f,q,t,d,...,0,0,0,0,0,0,0,3,25.82,9299
28830,2,10,8,7,r,n,x,q,s,d,...,0,0,0,0,0,0,0,2,25.82,19889
94947,2,10,5,5,r,n,f,x,t,d,...,0,0,0,0,0,0,0,3,25.82,19889
590882,2,10,6,5,r,n,f,x,s,d,...,0,0,0,0,0,0,0,2,25.82,19889
201944,3,30,8,9,r,n,f,x,s,d,...,0,0,0,0,0,0,0,3,30.18,9299

In [11]:
#cantidad de familias por edificacion
train['flias_afectadas'] = train.groupby('building_id')['count_families'].transform('count')

In [12]:
train.head()

,count_floors_pre_eq,age,area_percentage,height_percentage,foundation_type,roof_type,ground_floor_type,other_floor_type,position,plan_configuration,...,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade,edad_promedio,tipo_techo,flias_afectadas
building_id,,,,,,,,,,,,,,,,,,,,,
802906,2,30,6,5,r,n,f,q,t,d,...,0,0,0,0,0,0,3,25.82,9299,1
28830,2,10,8,7,r,n,x,q,s,d,...,0,0,0,0,0,0,2,25.82,19889,1
94947,2,10,5,5,r,n,f,x,t,d,...,0,0,0,0,0,0,3,25.82,19889,1
590882,2,10,6,5,r,n,f,x,s,d,...,0,0,0,0,0,0,2,25.82,19889,1
201944,3,30,8,9,r,n,f,x,s,d,...,0,0,0,0,0,0,3,30.18,9299,1

In [13]:
train = train.drop('roof_type', axis=1)
train = train.drop('other_floor_type', axis=1)
train = train.drop('position', axis=1)
#train = train.drop('other_floor_type', axis=1)
train = train.drop('plan_configuration', axis=1)
train = train.drop('legal_ownership_status', axis=1)
train = train.drop('ground_floor_type', axis=1)
train = train.drop('foundation_type', axis=1)

In [14]:
train_value = train['damage_grade']
train_data = train.iloc[:, train.columns != 'damage_grade']

In [15]:
train_data

,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_cement_mortar_stone,has_superstructure_mud_mortar_brick,has_superstructure_cement_mortar_brick,...,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,edad_promedio,tipo_techo,flias_afectadas
building_id,,,,,,,,,,,,,,,,,,,,,
802906,2,30,6,5,1,1,0,0,0,0,...,0,0,0,0,0,0,0,25.82,9299,1
28830,2,10,8,7,0,1,0,0,0,0,...,0,0,0,0,0,0,0,25.82,19889,1
94947,2,10,5,5,0,1,0,0,0,0,...,0,0,0,0,0,0,0,25.82,19889,1
590882,2,10,6,5,0,1,0,0,0,0,...,0,0,0,0,0,0,0,25.82,19889,1
201944,3,30,8,9,1,0,0,0,0,0,...,0,0,0,0,0,0,0,30.18,9299,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1007913,2,60,11,6,0,0,0,0,0,1,...,0,0,0,0,0,0,0,25.82,1809,1
349181,2,0,8,4,0,1,0,0,0,0,...,0,0,0,0,0,0,0,25.82,13307,1
1009561,1,5,15,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,17.64,17361,1
643147,2,20,14,4,0,1,0,0,0,0,...,0,0,0,0,0,0,0,25.82,16587,1
637205,2,25,2,4,0,1,0,0,0,0,...,0,0,0,0,0,0,0,25.82,12516,1

In [16]:
test_labels = pd.read_csv('test_train_labels.csv',low_memory=False, dtype= {
    'damage_grade':'uint8'
}).set_index('building_id')
test_values = pd.read_csv('test_train_values.csv',low_memory=False, dtype= {
    'geo_level_1_id':'category', 
    'geo_level_2_id':'category',
    'geo_level_3_id':'category', 
    'count_floors_pre_eq':'uint8',
    'age':'uint16',
    'area_percentage':'uint16', 
    'height_percentage':'uint16', 
    'land_surface_condition':'category', 
    'foundation_type':'category',
    'roof_type':'category',
    'ground_floor_type':'category',
    'other_floor_type':'category',
    'position':'category',
    'plan_configuration':'category', 
    'has_superstructure_adobe_mud':'uint8',
    'has_superstructure_mud_mortar_stone':'uint8',
    'has_superstructure_stone_flag':'uint8',
    'has_superstructure_cement_mortar_stone':'uint8', 
    'has_superstructure_mud_mortar_brick':'uint8', 
    'has_superstructure_cement_mortar_brick':'uint8', 
    'has_superstructure_timber':'uint8', 
    'has_superstructure_bamboo':'uint8',
    'has_superstructure_rc_non_engineered':'uint8',
    'has_superstructure_rc_engineered':'uint8',
    'has_superstructure_other':'uint8', 
    'legal_ownership_status':'category',
    'count_families':'uint16', 
    'has_secondary_use':'uint8', 
    'has_secondary_use_agriculture':'uint8', 
    'has_secondary_use_hotel':'uint8',
    'has_secondary_use_rental':'uint8',
    'has_secondary_use_institution':'uint8',
    'has_secondary_use_school':'uint8', 
    'has_secondary_use_industry':'uint8', 
    'has_secondary_use_health_post':'uint8', 
    'has_secondary_use_gov_office':'uint8', 
    'has_secondary_use_use_police':'uint8', 
    'has_secondary_use_other':'uint8',
}).set_index('building_id')

pd.options.display.float_format = '{:20,.2f}'.format

In [17]:
test = test_values.merge(test_labels, on='building_id')

In [18]:
test = test.drop('geo_level_1_id', axis=1)
test = test.drop('geo_level_2_id', axis=1)
test = test.drop('geo_level_3_id', axis=1)
test = test.drop('land_surface_condition', axis=1)

In [19]:
#edad promedio segun cantidad de pisos
test['edad_promedio'] = test.groupby('count_floors_pre_eq')['age'].transform('mean')

In [20]:
#cantidad de tipos de techo segun edad
test['tipo_techo'] = test.groupby('age')['roof_type'].transform('count')

In [21]:
#cantidad de familias por edificacion
test['cantidad_flias'] = test.groupby('building_id')['count_families'].transform('count')

In [22]:
test = test.drop('roof_type', axis=1)
test = test.drop('other_floor_type', axis=1)
test = test.drop('position', axis=1)
#test = test.drop('other_floor_type', axis=1)
test = test.drop('plan_configuration', axis=1)
test = test.drop('legal_ownership_status', axis=1)
test = test.drop('ground_floor_type', axis=1)
test = test.drop('foundation_type', axis=1)


#test = test.drop_duplicates('damage_grade')
IDs = test[['damage_grade']].copy()
#test = test.drop('damage_grade', axis=1)

In [23]:
test.head()

,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_cement_mortar_stone,has_superstructure_mud_mortar_brick,has_superstructure_cement_mortar_brick,...,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade,edad_promedio,tipo_techo,cantidad_flias
building_id,,,,,,,,,,,,,,,,,,,,,
1045849,2,10,5,5,0,1,0,0,0,0,...,0,0,0,0,0,0,2,26.61,6255,1
523230,2,15,11,5,0,1,0,0,0,0,...,0,0,0,0,0,0,3,26.61,5750,1
183337,4,80,9,10,0,0,0,0,0,1,...,0,0,0,0,0,0,2,59.25,482,1
1038657,3,40,9,7,0,1,0,0,0,0,...,0,0,0,0,0,0,2,30.07,1715,1
237062,2,15,3,4,0,1,0,0,0,0,...,0,0,0,0,0,0,2,26.61,5750,1

In [24]:
test_value = test['damage_grade']
test_data = test.iloc[:, test.columns != 'damage_grade']

In [25]:
test.head()

,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_cement_mortar_stone,has_superstructure_mud_mortar_brick,has_superstructure_cement_mortar_brick,...,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade,edad_promedio,tipo_techo,cantidad_flias
building_id,,,,,,,,,,,,,,,,,,,,,
1045849,2,10,5,5,0,1,0,0,0,0,...,0,0,0,0,0,0,2,26.61,6255,1
523230,2,15,11,5,0,1,0,0,0,0,...,0,0,0,0,0,0,3,26.61,5750,1
183337,4,80,9,10,0,0,0,0,0,1,...,0,0,0,0,0,0,2,59.25,482,1
1038657,3,40,9,7,0,1,0,0,0,0,...,0,0,0,0,0,0,2,30.07,1715,1
237062,2,15,3,4,0,1,0,0,0,0,...,0,0,0,0,0,0,2,26.61,5750,1

In [26]:
test_data.head()

,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_cement_mortar_stone,has_superstructure_mud_mortar_brick,has_superstructure_cement_mortar_brick,...,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,edad_promedio,tipo_techo,cantidad_flias
building_id,,,,,,,,,,,,,,,,,,,,,
1045849,2,10,5,5,0,1,0,0,0,0,...,0,0,0,0,0,0,0,26.61,6255,1
523230,2,15,11,5,0,1,0,0,0,0,...,0,0,0,0,0,0,0,26.61,5750,1
183337,4,80,9,10,0,0,0,0,0,1,...,0,0,0,0,0,0,0,59.25,482,1
1038657,3,40,9,7,0,1,0,0,0,0,...,0,0,0,0,0,0,0,30.07,1715,1
237062,2,15,3,4,0,1,0,0,0,0,...,0,0,0,0,0,0,0,26.61,5750,1

In [27]:
LogLoss = make_scorer(log_loss, greater_is_better=False, needs_proba=False)

In [28]:
from sklearn.model_selection import train_test_split
X_train, X_validation, y_train, y_validation = train_test_split(train_data, train_value, train_size=0.7, random_state=1234)

In [29]:
train_data

,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_cement_mortar_stone,has_superstructure_mud_mortar_brick,has_superstructure_cement_mortar_brick,...,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,edad_promedio,tipo_techo,flias_afectadas
building_id,,,,,,,,,,,,,,,,,,,,,
802906,2,30,6,5,1,1,0,0,0,0,...,0,0,0,0,0,0,0,25.82,9299,1
28830,2,10,8,7,0,1,0,0,0,0,...,0,0,0,0,0,0,0,25.82,19889,1
94947,2,10,5,5,0,1,0,0,0,0,...,0,0,0,0,0,0,0,25.82,19889,1
590882,2,10,6,5,0,1,0,0,0,0,...,0,0,0,0,0,0,0,25.82,19889,1
201944,3,30,8,9,1,0,0,0,0,0,...,0,0,0,0,0,0,0,30.18,9299,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1007913,2,60,11,6,0,0,0,0,0,1,...,0,0,0,0,0,0,0,25.82,1809,1
349181,2,0,8,4,0,1,0,0,0,0,...,0,0,0,0,0,0,0,25.82,13307,1
1009561,1,5,15,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,17.64,17361,1
643147,2,20,14,4,0,1,0,0,0,0,...,0,0,0,0,0,0,0,25.82,16587,1
637205,2,25,2,4,0,1,0,0,0,0,...,0,0,0,0,0,0,0,25.82,12516,1

In [30]:
categorical_features_indices = np.where(train_data.dtypes == np.object)[0]

In [31]:
%%capture
modelCatBoost=CatBoostRegressor(iterations=250, depth=3, learning_rate=0.05)
modelCatBoost.fit(X_train, y_train,cat_features=categorical_features_indices,eval_set=(X_validation, y_validation),plot=True)

0:	learn: 0.6068625	test: 0.6087446	best: 0.6087446 (0)	total: 63.7ms	remaining: 15.9s
1:	learn: 0.6031348	test: 0.6050190	best: 0.6050190 (1)	total: 75.6ms	remaining: 9.37s
2:	learn: 0.5996545	test: 0.6015368	best: 0.6015368 (2)	total: 85.5ms	remaining: 7.04s
3:	learn: 0.5963590	test: 0.5981649	best: 0.5981649 (3)	total: 95.7ms	remaining: 5.89s
4:	learn: 0.5933727	test: 0.5951259	best: 0.5951259 (4)	total: 106ms	remaining: 5.2s
5:	learn: 0.5906645	test: 0.5923670	best: 0.5923670 (5)	total: 117ms	remaining: 4.75s
6:	learn: 0.5881384	test: 0.5897973	best: 0.5897973 (6)	total: 126ms	remaining: 4.38s
7:	learn: 0.5858579	test: 0.5875215	best: 0.5875215 (7)	total: 137ms	remaining: 4.13s
8:	learn: 0.5838111	test: 0.5854740	best: 0.5854740 (8)	total: 146ms	remaining: 3.92s
9:	learn: 0.5818068	test: 0.5834291	best: 0.5834291 (9)	total: 158ms	remaining: 3.8s
10:	learn: 0.5800783	test: 0.5816990	best: 0.5816990 (10)	total: 168ms	remaining: 3.65s
11:	learn: 0.5785273	test: 0.5801190	best: 0.5801190 (11)	total: 178ms	remaining: 3.54s
12:	learn: 0.5770341	test: 0.5786129	best: 0.5786129 (12)	total: 189ms	remaining: 3.44s
13:	learn: 0.5755301	test: 0.5770896	best: 0.5770896 (13)	total: 202ms	remaining: 3.41s
14:	learn: 0.5742592	test: 0.5758187	best: 0.5758187 (14)	total: 212ms	remaining: 3.32s
15:	learn: 0.5729616	test: 0.5745028	best: 0.5745028 (15)	total: 222ms	remaining: 3.25s
16:	learn: 0.5717954	test: 0.5733118	best: 0.5733118 (16)	total: 233ms	remaining: 3.19s
17:	learn: 0.5707685	test: 0.5722509	best: 0.5722509 (17)	total: 244ms	remaining: 3.15s
18:	learn: 0.5696594	test: 0.5711082	best: 0.5711082 (18)	total: 255ms	remaining: 3.11s
19:	learn: 0.5687838	test: 0.5702303	best: 0.5702303 (19)	total: 287ms	remaining: 3.3s
20:	learn: 0.5678979	test: 0.5693453	best: 0.5693453 (20)	total: 298ms	remaining: 3.25s
21:	learn: 0.5670840	test: 0.5685332	best: 0.5685332 (21)	total: 308ms	remaining: 3.19s
22:	learn: 0.5662582	test: 0.5676869	best: 0.5676869 (22)	total: 321ms	remaining: 3.17s
23:	learn: 0.5655004	test: 0.5669231	best: 0.5669231 (23)	total: 331ms	remaining: 3.11s
24:	learn: 0.5648103	test: 0.5662091	best: 0.5662091 (24)	total: 340ms	remaining: 3.06s
25:	learn: 0.5641608	test: 0.5655605	best: 0.5655605 (25)	total: 351ms	remaining: 3.02s
26:	learn: 0.5634670	test: 0.5648217	best: 0.5648217 (26)	total: 361ms	remaining: 2.98s
27:	learn: 0.5628987	test: 0.5642567	best: 0.5642567 (27)	total: 371ms	remaining: 2.94s
28:	learn: 0.5623870	test: 0.5637239	best: 0.5637239 (28)	total: 380ms	remaining: 2.9s
29:	learn: 0.5618871	test: 0.5632110	best: 0.5632110 (29)	total: 389ms	remaining: 2.85s
30:	learn: 0.5614023	test: 0.5627443	best: 0.5627443 (30)	total: 400ms	remaining: 2.83s
31:	learn: 0.5609218	test: 0.5622510	best: 0.5622510 (31)	total: 409ms	remaining: 2.79s
32:	learn: 0.5605049	test: 0.5618428	best: 0.5618428 (32)	total: 419ms	remaining: 2.75s
33:	learn: 0.5601097	test: 0.5614419	best: 0.5614419 (33)	total: 428ms	remaining: 2.72s
34:	learn: 0.5597565	test: 0.5610817	best: 0.5610817 (34)	total: 438ms	remaining: 2.69s
35:	learn: 0.5593964	test: 0.5607372	best: 0.5607372 (35)	total: 449ms	remaining: 2.67s
36:	learn: 0.5590704	test: 0.5604262	best: 0.5604262 (36)	total: 459ms	remaining: 2.64s
37:	learn: 0.5588074	test: 0.5601537	best: 0.5601537 (37)	total: 469ms	remaining: 2.61s
38:	learn: 0.5584585	test: 0.5597916	best: 0.5597916 (38)	total: 479ms	remaining: 2.59s
39:	learn: 0.5581669	test: 0.5594816	best: 0.5594816 (39)	total: 494ms	remaining: 2.59s
40:	learn: 0.5578395	test: 0.5591655	best: 0.5591655 (40)	total: 505ms	remaining: 2.57s
41:	learn: 0.5575726	test: 0.5588933	best: 0.5588933 (41)	total: 515ms	remaining: 2.55s
42:	learn: 0.5572827	test: 0.5586138	best: 0.5586138 (42)	total: 525ms	remaining: 2.53s
43:	learn: 0.5570624	test: 0.5583997	best: 0.5583997 (43)	total: 535ms	remaining: 2.5s
44:	learn: 0.5568761	test: 0.5582226	best: 0.5582226 (44)	total: 546ms	remaining: 2.49s
45:	learn: 0.5566576	test: 0.5579882	best: 0.5579882 (45)	total: 555ms	remaining: 2.46s
46:	learn: 0.5564485	test: 0.5577917	best: 0.5577917 (46)	total: 565ms	remaining: 2.44s
47:	learn: 0.5562681	test: 0.5576274	best: 0.5576274 (47)	total: 576ms	remaining: 2.42s
48:	learn: 0.5560684	test: 0.5574283	best: 0.5574283 (48)	total: 588ms	remaining: 2.41s
49:	learn: 0.5558101	test: 0.5571411	best: 0.5571411 (49)	total: 597ms	remaining: 2.39s
50:	learn: 0.5556100	test: 0.5569491	best: 0.5569491 (50)	total: 607ms	remaining: 2.37s
51:	learn: 0.5554496	test: 0.5567772	best: 0.5567772 (51)	total: 616ms	remaining: 2.35s
52:	learn: 0.5552501	test: 0.5565876	best: 0.5565876 (52)	total: 626ms	remaining: 2.33s
53:	learn: 0.5551157	test: 0.5564657	best: 0.5564657 (53)	total: 636ms	remaining: 2.31s
54:	learn: 0.5548907	test: 0.5562233	best: 0.5562233 (54)	total: 646ms	remaining: 2.29s
55:	learn: 0.5547221	test: 0.5560771	best: 0.5560771 (55)	total: 656ms	remaining: 2.27s
56:	learn: 0.5545785	test: 0.5559353	best: 0.5559353 (56)	total: 665ms	remaining: 2.25s
57:	learn: 0.5544481	test: 0.5558110	best: 0.5558110 (57)	total: 675ms	remaining: 2.23s
58:	learn: 0.5543062	test: 0.5556596	best: 0.5556596 (58)	total: 685ms	remaining: 2.22s
59:	learn: 0.5541664	test: 0.5555166	best: 0.5555166 (59)	total: 708ms	remaining: 2.24s
60:	learn: 0.5540257	test: 0.5553876	best: 0.5553876 (60)	total: 718ms	remaining: 2.23s
61:	learn: 0.5539196	test: 0.5552999	best: 0.5552999 (61)	total: 729ms	remaining: 2.21s
62:	learn: 0.5538202	test: 0.5552128	best: 0.5552128 (62)	total: 741ms	remaining: 2.2s
63:	learn: 0.5536943	test: 0.5551080	best: 0.5551080 (63)	total: 751ms	remaining: 2.18s
64:	learn: 0.5535981	test: 0.5550151	best: 0.5550151 (64)	total: 761ms	remaining: 2.16s
65:	learn: 0.5535002	test: 0.5549191	best: 0.5549191 (65)	total: 777ms	remaining: 2.17s
66:	learn: 0.5533999	test: 0.5548465	best: 0.5548465 (66)	total: 786ms	remaining: 2.15s
67:	learn: 0.5533050	test: 0.5547613	best: 0.5547613 (67)	total: 796ms	remaining: 2.13s
68:	learn: 0.5532028	test: 0.5546700	best: 0.5546700 (68)	total: 807ms	remaining: 2.12s
69:	learn: 0.5530955	test: 0.5545542	best: 0.5545542 (69)	total: 816ms	remaining: 2.1s
70:	learn: 0.5530252	test: 0.5544861	best: 0.5544861 (70)	total: 827ms	remaining: 2.08s
71:	learn: 0.5529194	test: 0.5543938	best: 0.5543938 (71)	total: 836ms	remaining: 2.07s
72:	learn: 0.5528329	test: 0.5543184	best: 0.5543184 (72)	total: 846ms	remaining: 2.05s
73:	learn: 0.5527440	test: 0.5542392	best: 0.5542392 (73)	total: 862ms	remaining: 2.05s
74:	learn: 0.5526717	test: 0.5541832	best: 0.5541832 (74)	total: 871ms	remaining: 2.03s
75:	learn: 0.5526012	test: 0.5541139	best: 0.5541139 (75)	total: 882ms	remaining: 2.02s
76:	learn: 0.5525198	test: 0.5540443	best: 0.5540443 (76)	total: 892ms	remaining: 2s
77:	learn: 0.5524137	test: 0.5539337	best: 0.5539337 (77)	total: 901ms	remaining: 1.99s
78:	learn: 0.5523417	test: 0.5538705	best: 0.5538705 (78)	total: 934ms	remaining: 2.02s
79:	learn: 0.5522673	test: 0.5537888	best: 0.5537888 (79)	total: 944ms	remaining: 2s
80:	learn: 0.5522046	test: 0.5537304	best: 0.5537304 (80)	total: 954ms	remaining: 1.99s
81:	learn: 0.5521565	test: 0.5536895	best: 0.5536895 (81)	total: 976ms	remaining: 2s
82:	learn: 0.5520866	test: 0.5536261	best: 0.5536261 (82)	total: 991ms	remaining: 1.99s
83:	learn: 0.5519721	test: 0.5534999	best: 0.5534999 (83)	total: 1s	remaining: 1.98s
84:	learn: 0.5519166	test: 0.5534443	best: 0.5534443 (84)	total: 1.03s	remaining: 2.01s
85:	learn: 0.5518386	test: 0.5533930	best: 0.5533930 (85)	total: 1.05s	remaining: 2s
86:	learn: 0.5517357	test: 0.5532799	best: 0.5532799 (86)	total: 1.07s	remaining: 2s
87:	learn: 0.5516813	test: 0.5532328	best: 0.5532328 (87)	total: 1.08s	remaining: 1.98s
88:	learn: 0.5516058	test: 0.5531767	best: 0.5531767 (88)	total: 1.09s	remaining: 1.97s
89:	learn: 0.5515404	test: 0.5531188	best: 0.5531188 (89)	total: 1.1s	remaining: 1.95s
90:	learn: 0.5514805	test: 0.5530702	best: 0.5530702 (90)	total: 1.11s	remaining: 1.93s
91:	learn: 0.5514460	test: 0.5530420	best: 0.5530420 (91)	total: 1.12s	remaining: 1.92s
92:	learn: 0.5513919	test: 0.5529930	best: 0.5529930 (92)	total: 1.13s	remaining: 1.9s
93:	learn: 0.5513436	test: 0.5529535	best: 0.5529535 (93)	total: 1.14s	remaining: 1.9s
94:	learn: 0.5512984	test: 0.5529179	best: 0.5529179 (94)	total: 1.16s	remaining: 1.9s
95:	learn: 0.5512391	test: 0.5528618	best: 0.5528618 (95)	total: 1.17s	remaining: 1.88s
96:	learn: 0.5511639	test: 0.5527856	best: 0.5527856 (96)	total: 1.18s	remaining: 1.87s
97:	learn: 0.5511026	test: 0.5527247	best: 0.5527247 (97)	total: 1.19s	remaining: 1.85s
98:	learn: 0.5510675	test: 0.5526897	best: 0.5526897 (98)	total: 1.21s	remaining: 1.84s
99:	learn: 0.5510200	test: 0.5526546	best: 0.5526546 (99)	total: 1.22s	remaining: 1.82s
100:	learn: 0.5509737	test: 0.5526086	best: 0.5526086 (100)	total: 1.23s	remaining: 1.81s
101:	learn: 0.5509196	test: 0.5525642	best: 0.5525642 (101)	total: 1.24s	remaining: 1.79s
102:	learn: 0.5508492	test: 0.5525155	best: 0.5525155 (102)	total: 1.25s	remaining: 1.78s
103:	learn: 0.5508107	test: 0.5524795	best: 0.5524795 (103)	total: 1.25s	remaining: 1.76s
104:	learn: 0.5507471	test: 0.5524376	best: 0.5524376 (104)	total: 1.26s	remaining: 1.75s
105:	learn: 0.5507007	test: 0.5523943	best: 0.5523943 (105)	total: 1.27s	remaining: 1.73s
106:	learn: 0.5506587	test: 0.5523496	best: 0.5523496 (106)	total: 1.28s	remaining: 1.72s
107:	learn: 0.5506106	test: 0.5523090	best: 0.5523090 (107)	total: 1.29s	remaining: 1.7s
108:	learn: 0.5505746	test: 0.5522814	best: 0.5522814 (108)	total: 1.3s	remaining: 1.69s
109:	learn: 0.5505100	test: 0.5522245	best: 0.5522245 (109)	total: 1.31s	remaining: 1.67s
110:	learn: 0.5504823	test: 0.5521932	best: 0.5521932 (110)	total: 1.32s	remaining: 1.66s

111:	learn: 0.5504347	test: 0.5521479	best: 0.5521479 (111)	total: 1.35s	remaining: 1.66s
112:	learn: 0.5504068	test: 0.5521334	best: 0.5521334 (112)	total: 1.38s	remaining: 1.68s
113:	learn: 0.5503790	test: 0.5521064	best: 0.5521064 (113)	total: 1.39s	remaining: 1.66s
114:	learn: 0.5503477	test: 0.5520876	best: 0.5520876 (114)	total: 1.4s	remaining: 1.65s
115:	learn: 0.5503140	test: 0.5520599	best: 0.5520599 (115)	total: 1.41s	remaining: 1.63s
116:	learn: 0.5502821	test: 0.5520327	best: 0.5520327 (116)	total: 1.42s	remaining: 1.62s
117:	learn: 0.5502549	test: 0.5520128	best: 0.5520128 (117)	total: 1.43s	remaining: 1.6s
118:	learn: 0.5502036	test: 0.5519823	best: 0.5519823 (118)	total: 1.44s	remaining: 1.59s
119:	learn: 0.5501829	test: 0.5519598	best: 0.5519598 (119)	total: 1.45s	remaining: 1.57s
120:	learn: 0.5501393	test: 0.5519213	best: 0.5519213 (120)	total: 1.46s	remaining: 1.56s
121:	learn: 0.5501102	test: 0.5518974	best: 0.5518974 (121)	total: 1.47s	remaining: 1.55s
122:	learn: 0.5500553	test: 0.5518610	best: 0.5518610 (122)	total: 1.48s	remaining: 1.53s
123:	learn: 0.5500090	test: 0.5518030	best: 0.5518030 (123)	total: 1.49s	remaining: 1.52s
124:	learn: 0.5499881	test: 0.5517896	best: 0.5517896 (124)	total: 1.5s	remaining: 1.5s
125:	learn: 0.5499554	test: 0.5517554	best: 0.5517554 (125)	total: 1.51s	remaining: 1.49s
126:	learn: 0.5498874	test: 0.5516861	best: 0.5516861 (126)	total: 1.52s	remaining: 1.47s
127:	learn: 0.5498303	test: 0.5516210	best: 0.5516210 (127)	total: 1.53s	remaining: 1.46s
128:	learn: 0.5497970	test: 0.5515995	best: 0.5515995 (128)	total: 1.57s	remaining: 1.48s
129:	learn: 0.5497617	test: 0.5515605	best: 0.5515605 (129)	total: 1.58s	remaining: 1.46s
130:	learn: 0.5497372	test: 0.5515419	best: 0.5515419 (130)	total: 1.59s	remaining: 1.45s
131:	learn: 0.5497133	test: 0.5515327	best: 0.5515327 (131)	total: 1.6s	remaining: 1.43s
132:	learn: 0.5496878	test: 0.5515026	best: 0.5515026 (132)	total: 1.61s	remaining: 1.42s
133:	learn: 0.5496682	test: 0.5514741	best: 0.5514741 (133)	total: 1.62s	remaining: 1.41s
134:	learn: 0.5496399	test: 0.5514440	best: 0.5514440 (134)	total: 1.63s	remaining: 1.39s
135:	learn: 0.5496203	test: 0.5514227	best: 0.5514227 (135)	total: 1.64s	remaining: 1.38s
136:	learn: 0.5496039	test: 0.5514117	best: 0.5514117 (136)	total: 1.65s	remaining: 1.36s
137:	learn: 0.5495754	test: 0.5513942	best: 0.5513942 (137)	total: 1.66s	remaining: 1.35s
138:	learn: 0.5495524	test: 0.5513696	best: 0.5513696 (138)	total: 1.67s	remaining: 1.33s
139:	learn: 0.5495275	test: 0.5513472	best: 0.5513472 (139)	total: 1.68s	remaining: 1.32s
140:	learn: 0.5494906	test: 0.5513181	best: 0.5513181 (140)	total: 1.69s	remaining: 1.3s
141:	learn: 0.5494695	test: 0.5513022	best: 0.5513022 (141)	total: 1.7s	remaining: 1.29s
142:	learn: 0.5494356	test: 0.5512770	best: 0.5512770 (142)	total: 1.71s	remaining: 1.28s
143:	learn: 0.5493718	test: 0.5512031	best: 0.5512031 (143)	total: 1.72s	remaining: 1.26s
144:	learn: 0.5493519	test: 0.5511847	best: 0.5511847 (144)	total: 1.73s	remaining: 1.25s
145:	learn: 0.5493189	test: 0.5511426	best: 0.5511426 (145)	total: 1.74s	remaining: 1.24s
146:	learn: 0.5493003	test: 0.5511341	best: 0.5511341 (146)	total: 1.75s	remaining: 1.23s
147:	learn: 0.5492741	test: 0.5511006	best: 0.5511006 (147)	total: 1.76s	remaining: 1.21s
148:	learn: 0.5492610	test: 0.5510943	best: 0.5510943 (148)	total: 1.77s	remaining: 1.2s
149:	learn: 0.5492456	test: 0.5510874	best: 0.5510874 (149)	total: 1.78s	remaining: 1.19s
150:	learn: 0.5492330	test: 0.5510793	best: 0.5510793 (150)	total: 1.79s	remaining: 1.17s
151:	learn: 0.5491904	test: 0.5510493	best: 0.5510493 (151)	total: 1.8s	remaining: 1.16s
152:	learn: 0.5491647	test: 0.5510267	best: 0.5510267 (152)	total: 1.81s	remaining: 1.15s
153:	learn: 0.5491539	test: 0.5510172	best: 0.5510172 (153)	total: 1.83s	remaining: 1.14s
154:	learn: 0.5491165	test: 0.5509948	best: 0.5509948 (154)	total: 1.84s	remaining: 1.13s
155:	learn: 0.5490935	test: 0.5509623	best: 0.5509623 (155)	total: 1.84s	remaining: 1.11s
156:	learn: 0.5490613	test: 0.5509376	best: 0.5509376 (156)	total: 1.85s	remaining: 1.1s
157:	learn: 0.5490452	test: 0.5509235	best: 0.5509235 (157)	total: 1.86s	remaining: 1.09s
158:	learn: 0.5490113	test: 0.5508912	best: 0.5508912 (158)	total: 1.88s	remaining: 1.07s
159:	learn: 0.5489948	test: 0.5508746	best: 0.5508746 (159)	total: 1.89s	remaining: 1.06s
160:	learn: 0.5489674	test: 0.5508483	best: 0.5508483 (160)	total: 1.9s	remaining: 1.05s
161:	learn: 0.5489187	test: 0.5507971	best: 0.5507971 (161)	total: 1.91s	remaining: 1.03s
162:	learn: 0.5488929	test: 0.5507774	best: 0.5507774 (162)	total: 1.92s	remaining: 1.02s
163:	learn: 0.5488728	test: 0.5507569	best: 0.5507569 (163)	total: 1.93s	remaining: 1.01s
164:	learn: 0.5488498	test: 0.5507379	best: 0.5507379 (164)	total: 1.94s	remaining: 998ms
165:	learn: 0.5488347	test: 0.5507238	best: 0.5507238 (165)	total: 1.95s	remaining: 985ms
166:	learn: 0.5488069	test: 0.5507089	best: 0.5507089 (166)	total: 1.96s	remaining: 973ms
167:	learn: 0.5487808	test: 0.5506867	best: 0.5506867 (167)	total: 1.98s	remaining: 966ms
168:	learn: 0.5487624	test: 0.5506726	best: 0.5506726 (168)	total: 1.99s	remaining: 954ms
169:	learn: 0.5487516	test: 0.5506672	best: 0.5506672 (169)	total: 2s	remaining: 942ms
170:	learn: 0.5487321	test: 0.5506429	best: 0.5506429 (170)	total: 2.01s	remaining: 930ms
171:	learn: 0.5487147	test: 0.5506283	best: 0.5506283 (171)	total: 2.02s	remaining: 917ms
172:	learn: 0.5486858	test: 0.5506019	best: 0.5506019 (172)	total: 2.03s	remaining: 904ms
173:	learn: 0.5486675	test: 0.5505864	best: 0.5505864 (173)	total: 2.04s	remaining: 891ms
174:	learn: 0.5486452	test: 0.5505650	best: 0.5505650 (174)	total: 2.05s	remaining: 878ms
175:	learn: 0.5486327	test: 0.5505508	best: 0.5505508 (175)	total: 2.06s	remaining: 866ms
176:	learn: 0.5486219	test: 0.5505434	best: 0.5505434 (176)	total: 2.07s	remaining: 853ms
177:	learn: 0.5486041	test: 0.5505320	best: 0.5505320 (177)	total: 2.08s	remaining: 840ms
178:	learn: 0.5485727	test: 0.5505020	best: 0.5505020 (178)	total: 2.09s	remaining: 828ms
179:	learn: 0.5485567	test: 0.5504843	best: 0.5504843 (179)	total: 2.1s	remaining: 816ms
180:	learn: 0.5485329	test: 0.5504671	best: 0.5504671 (180)	total: 2.11s	remaining: 805ms
181:	learn: 0.5485191	test: 0.5504499	best: 0.5504499 (181)	total: 2.12s	remaining: 792ms
182:	learn: 0.5484735	test: 0.5504028	best: 0.5504028 (182)	total: 2.13s	remaining: 780ms
183:	learn: 0.5484506	test: 0.5503849	best: 0.5503849 (183)	total: 2.14s	remaining: 767ms
184:	learn: 0.5484335	test: 0.5503731	best: 0.5503731 (184)	total: 2.15s	remaining: 755ms
185:	learn: 0.5484229	test: 0.5503626	best: 0.5503626 (185)	total: 2.16s	remaining: 742ms
186:	learn: 0.5484124	test: 0.5503517	best: 0.5503517 (186)	total: 2.17s	remaining: 730ms
187:	learn: 0.5483939	test: 0.5503274	best: 0.5503274 (187)	total: 2.19s	remaining: 723ms
188:	learn: 0.5483818	test: 0.5503182	best: 0.5503182 (188)	total: 2.2s	remaining: 711ms
189:	learn: 0.5483733	test: 0.5503122	best: 0.5503122 (189)	total: 2.21s	remaining: 698ms
190:	learn: 0.5483442	test: 0.5502962	best: 0.5502962 (190)	total: 2.22s	remaining: 687ms
191:	learn: 0.5483349	test: 0.5502920	best: 0.5502920 (191)	total: 2.23s	remaining: 674ms
192:	learn: 0.5483110	test: 0.5502592	best: 0.5502592 (192)	total: 2.24s	remaining: 662ms
193:	learn: 0.5482828	test: 0.5502386	best: 0.5502386 (193)	total: 2.25s	remaining: 650ms
194:	learn: 0.5482635	test: 0.5502315	best: 0.5502315 (194)	total: 2.26s	remaining: 638ms
195:	learn: 0.5482534	test: 0.5502253	best: 0.5502253 (195)	total: 2.27s	remaining: 626ms
196:	learn: 0.5482431	test: 0.5502171	best: 0.5502171 (196)	total: 2.28s	remaining: 614ms
197:	learn: 0.5482288	test: 0.5502048	best: 0.5502048 (197)	total: 2.29s	remaining: 602ms
198:	learn: 0.5482183	test: 0.5502020	best: 0.5502020 (198)	total: 2.3s	remaining: 590ms
199:	learn: 0.5482052	test: 0.5501934	best: 0.5501934 (199)	total: 2.32s	remaining: 581ms
200:	learn: 0.5481948	test: 0.5501842	best: 0.5501842 (200)	total: 2.34s	remaining: 570ms
201:	learn: 0.5481880	test: 0.5501743	best: 0.5501743 (201)	total: 2.35s	remaining: 557ms
202:	learn: 0.5481809	test: 0.5501730	best: 0.5501730 (202)	total: 2.35s	remaining: 545ms
203:	learn: 0.5481717	test: 0.5501653	best: 0.5501653 (203)	total: 2.37s	remaining: 534ms

204:	learn: 0.5481436	test: 0.5501500	best: 0.5501500 (204)	total: 2.4s	remaining: 527ms
205:	learn: 0.5481338	test: 0.5501400	best: 0.5501400 (205)	total: 2.41s	remaining: 515ms
206:	learn: 0.5481115	test: 0.5501265	best: 0.5501265 (206)	total: 2.42s	remaining: 503ms
207:	learn: 0.5480795	test: 0.5500974	best: 0.5500974 (207)	total: 2.43s	remaining: 491ms
208:	learn: 0.5480719	test: 0.5500960	best: 0.5500960 (208)	total: 2.44s	remaining: 479ms
209:	learn: 0.5480430	test: 0.5500698	best: 0.5500698 (209)	total: 2.45s	remaining: 467ms
210:	learn: 0.5480387	test: 0.5500697	best: 0.5500697 (210)	total: 2.46s	remaining: 455ms
211:	learn: 0.5480233	test: 0.5500603	best: 0.5500603 (211)	total: 2.47s	remaining: 443ms
212:	learn: 0.5480176	test: 0.5500586	best: 0.5500586 (212)	total: 2.48s	remaining: 431ms
213:	learn: 0.5480050	test: 0.5500525	best: 0.5500525 (213)	total: 2.5s	remaining: 421ms
214:	learn: 0.5479996	test: 0.5500499	best: 0.5500499 (214)	total: 2.52s	remaining: 410ms
215:	learn: 0.5479845	test: 0.5500373	best: 0.5500373 (215)	total: 2.53s	remaining: 398ms
216:	learn: 0.5479626	test: 0.5500217	best: 0.5500217 (216)	total: 2.54s	remaining: 386ms
217:	learn: 0.5479181	test: 0.5499770	best: 0.5499770 (217)	total: 2.55s	remaining: 374ms
218:	learn: 0.5479004	test: 0.5499535	best: 0.5499535 (218)	total: 2.56s	remaining: 362ms
219:	learn: 0.5478708	test: 0.5499225	best: 0.5499225 (219)	total: 2.57s	remaining: 350ms
220:	learn: 0.5478523	test: 0.5499064	best: 0.5499064 (220)	total: 2.58s	remaining: 338ms
221:	learn: 0.5478260	test: 0.5498810	best: 0.5498810 (221)	total: 2.58s	remaining: 326ms
222:	learn: 0.5477854	test: 0.5498298	best: 0.5498298 (222)	total: 2.59s	remaining: 314ms
223:	learn: 0.5477767	test: 0.5498247	best: 0.5498247 (223)	total: 2.62s	remaining: 304ms
224:	learn: 0.5477609	test: 0.5498167	best: 0.5498167 (224)	total: 2.63s	remaining: 292ms
225:	learn: 0.5477496	test: 0.5498083	best: 0.5498083 (225)	total: 2.64s	remaining: 280ms
226:	learn: 0.5477254	test: 0.5497800	best: 0.5497800 (226)	total: 2.65s	remaining: 268ms
227:	learn: 0.5477033	test: 0.5497587	best: 0.5497587 (227)	total: 2.66s	remaining: 257ms
228:	learn: 0.5476929	test: 0.5497550	best: 0.5497550 (228)	total: 2.67s	remaining: 245ms
229:	learn: 0.5476613	test: 0.5497261	best: 0.5497261 (229)	total: 2.68s	remaining: 233ms
230:	learn: 0.5476556	test: 0.5497189	best: 0.5497189 (230)	total: 2.69s	remaining: 221ms
231:	learn: 0.5476273	test: 0.5496948	best: 0.5496948 (231)	total: 2.71s	remaining: 210ms
232:	learn: 0.5476023	test: 0.5496659	best: 0.5496659 (232)	total: 2.72s	remaining: 199ms
233:	learn: 0.5475977	test: 0.5496658	best: 0.5496658 (233)	total: 2.73s	remaining: 187ms
234:	learn: 0.5475830	test: 0.5496519	best: 0.5496519 (234)	total: 2.74s	remaining: 175ms
235:	learn: 0.5475730	test: 0.5496470	best: 0.5496470 (235)	total: 2.75s	remaining: 163ms
236:	learn: 0.5475473	test: 0.5496190	best: 0.5496190 (236)	total: 2.76s	remaining: 151ms
237:	learn: 0.5475202	test: 0.5495954	best: 0.5495954 (237)	total: 2.77s	remaining: 140ms
238:	learn: 0.5475174	test: 0.5495939	best: 0.5495939 (238)	total: 2.78s	remaining: 128ms
239:	learn: 0.5474956	test: 0.5495668	best: 0.5495668 (239)	total: 2.8s	remaining: 117ms
240:	learn: 0.5474868	test: 0.5495625	best: 0.5495625 (240)	total: 2.81s	remaining: 105ms
241:	learn: 0.5474702	test: 0.5495532	best: 0.5495532 (241)	total: 2.83s	remaining: 93.5ms
242:	learn: 0.5474416	test: 0.5495308	best: 0.5495308 (242)	total: 2.84s	remaining: 81.8ms
243:	learn: 0.5474322	test: 0.5495258	best: 0.5495258 (243)	total: 2.85s	remaining: 70.2ms
244:	learn: 0.5474150	test: 0.5495196	best: 0.5495196 (244)	total: 2.86s	remaining: 58.4ms
245:	learn: 0.5473977	test: 0.5495083	best: 0.5495083 (245)	total: 2.87s	remaining: 46.7ms
246:	learn: 0.5473918	test: 0.5495097	best: 0.5495083 (245)	total: 2.88s	remaining: 35ms
247:	learn: 0.5473816	test: 0.5495073	best: 0.5495073 (247)	total: 2.9s	remaining: 23.4ms
248:	learn: 0.5473626	test: 0.5494920	best: 0.5494920 (248)	total: 2.91s	remaining: 11.7ms
249:	learn: 0.5473568	test: 0.5494896	best: 0.5494896 (249)	total: 2.92s	remaining: 0us

bestTest = 0.5494896493
bestIteration = 249

In [41]:
preds = modelCatBoost.predict(X_train)

logloss = log_loss(y_train, preds)
print("logloss: %f" % (logloss))

ValueError: y_true and y_pred contain different number of classes 3, 2. Please provide the true labels explicitly through the labels argument. Classes found in y_true: [1 2 3]

In [ ]:
pd.to_numeric(preds.round(), downcast='signed')

In [39]:
type(y_train)

pandas.core.series.Series

In [40]:
type(preds)

numpy.ndarray

In [ ]:
%%capture
modelCatBoost.fit(train_data,train_value,cat_features=categorical_features_indices)
preds = modelCatBoost.predict(test)
entregable_CatBoost = IDs[['building_id']].copy()
entregable_CatBoost['damage_grade'] = preds

In [ ]:
entregable_CatBoost.to_csv('CatBoost.csv', index=False)

In [ ]:
modeloCB = CatBoostRegressor()
LogLoss = make_scorer(log_loss, greater_is_better = False)
categorical_features_indices = np.where(train_data.dtypes == np.object)[0]

In [ ]:
parameters = {'iterations':[100, 250, 500] , 'depth':[2, 3, 5], 'learning_rate':[0.005, 0.05, 0.5]}
gscv = GridSearchCV(modeloCB, parameters, cv=5, scoring=LogLoss)

In [ ]:
%%capture
gscv.fit(train_data, train_values, cat_features = categorical_features_indices)

In [ ]:
print(gscv.best_params_)

In [ ]:
%%capture
modeloCB = CatBoostRegressor(depth = 5, iterations = 100, learning_rate = 0.05)
modeloCB.fit(train_data, train_value, cat_features = categorical_features_indices)
result = modeloCB.predict(test)

entregable_CB = IDs[['building_id']].copy() #revisar
entregable_CB['age'] = result #revisar

In [ ]:
entregable_CB.to_csv('CB_Final.csv', index=False)