In [1]:
import pandas as pd
import tensorflow as tf
import numpy
df_train_labels_original = pd.read_csv('train_labels.csv',low_memory=False, dtype= {
    'damage_grade':'uint8'
}).set_index('building_id')
df_train_values_original = pd.read_csv('train_values.csv',low_memory=False, dtype= {
    'geo_level_1_id':'category', 
    'geo_level_2_id':'category',
    'geo_level_3_id':'category', 
    'count_floors_pre_eq':'uint8',
    'age':'uint16',
    'area_percentage':'uint16', 
    'height_percentage':'uint16', 
    'land_surface_condition':'category', 
    'foundation_type':'category',
    'roof_type':'category',
    'ground_floor_type':'category',
    'other_floor_type':'category',
    'position':'category',
    'plan_configuration':'category', 
    'has_superstructure_adobe_mud':'uint8',
    'has_superstructure_mud_mortar_stone':'uint8',
    'has_superstructure_stone_flag':'uint8',
    'has_superstructure_cement_mortar_stone':'uint8', 
    'has_superstructure_mud_mortar_brick':'uint8', 
    'has_superstructure_cement_mortar_brick':'uint8', 
    'has_superstructure_timber':'uint8', 
    'has_superstructure_bamboo':'uint8',
    'has_superstructure_rc_non_engineered':'uint8',
    'has_superstructure_rc_engineered':'uint8',
    'has_superstructure_other':'uint8', 
    'legal_ownership_status':'category',
    'count_families':'uint16', 
    'has_secondary_use':'uint8', 
    'has_secondary_use_agriculture':'uint8', 
    'has_secondary_use_hotel':'uint8',
    'has_secondary_use_rental':'uint8',
    'has_secondary_use_institution':'uint8',
    'has_secondary_use_school':'uint8', 
    'has_secondary_use_industry':'uint8', 
    'has_secondary_use_health_post':'uint8', 
    'has_secondary_use_gov_office':'uint8', 
    'has_secondary_use_use_police':'uint8', 
    'has_secondary_use_other':'uint8',
}).set_index('building_id')

pd.options.display.float_format = '{:20,.2f}'.format

In [2]:
df_train_values = df_train_values_original.drop(columns=['geo_level_1_id','geo_level_2_id','geo_level_3_id'])

In [3]:
df = df_train_values.join(df_train_labels_original,how="inner")[:int(len(df_train_values)/2)]
df

,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,ground_floor_type,other_floor_type,position,...,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade
building_id,,,,,,,,,,,,,,,,,,,,,
802906,2,30,6,5,t,r,n,f,q,t,...,0,0,0,0,0,0,0,0,0,3
28830,2,10,8,7,o,r,n,x,q,s,...,0,0,0,0,0,0,0,0,0,2
94947,2,10,5,5,t,r,n,f,x,t,...,0,0,0,0,0,0,0,0,0,3
590882,2,10,6,5,t,r,n,f,x,s,...,0,0,0,0,0,0,0,0,0,2
201944,3,30,8,9,t,r,n,f,x,s,...,0,0,0,0,0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168990,2,5,7,5,t,w,n,f,x,s,...,0,0,0,0,0,0,0,0,0,2
966340,1,5,7,3,t,r,q,v,j,s,...,0,0,0,0,0,0,0,0,0,1
842927,2,35,6,7,n,r,n,f,x,s,...,0,0,0,0,0,0,0,0,0,3
411281,3,55,23,6,t,r,n,f,x,s,...,0,0,0,0,0,0,0,0,0,2
622439,1,5,4,3,t,w,n,f,j,s,...,0,0,0,0,0,0,0,0,0,1

In [4]:
target = df.pop('damage_grade')
target

building_id
802906    3
28830     2
94947     3
590882    2
201944    3
         ..
168990    2
966340    1
842927    3
411281    2
622439    1
Name: damage_grade, Length: 130300, dtype: uint8

In [5]:
df_lsc = df.drop(columns=['land_surface_condition']).join(pd.get_dummies(df['land_surface_condition'])).rename(columns={
    "n": "lsc_n",
    "o": "lsc_o",
    "t": "lsc_t",
})
df_lsc

,count_floors_pre_eq,age,area_percentage,height_percentage,foundation_type,roof_type,ground_floor_type,other_floor_type,position,plan_configuration,...,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,lsc_n,lsc_o,lsc_t
building_id,,,,,,,,,,,,,,,,,,,,,
802906,2,30,6,5,r,n,f,q,t,d,...,0,0,0,0,0,0,0,0,0,1
28830,2,10,8,7,r,n,x,q,s,d,...,0,0,0,0,0,0,0,0,1,0
94947,2,10,5,5,r,n,f,x,t,d,...,0,0,0,0,0,0,0,0,0,1
590882,2,10,6,5,r,n,f,x,s,d,...,0,0,0,0,0,0,0,0,0,1
201944,3,30,8,9,r,n,f,x,s,d,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168990,2,5,7,5,w,n,f,x,s,d,...,0,0,0,0,0,0,0,0,0,1
966340,1,5,7,3,r,q,v,j,s,d,...,0,0,0,0,0,0,0,0,0,1
842927,2,35,6,7,r,n,f,x,s,d,...,0,0,0,0,0,0,0,1,0,0
411281,3,55,23,6,r,n,f,x,s,d,...,0,0,0,0,0,0,0,0,0,1
622439,1,5,4,3,w,n,f,j,s,d,...,0,0,0,0,0,0,0,0,0,1

In [6]:
df_ft = df_lsc.drop(columns=['foundation_type']).join(pd.get_dummies(df_lsc['foundation_type'])).rename(columns={
    "h": "ft_h",
    "i": "ft_i",
    "r": "ft_r",
    "u": "ft_u",
    "w": "ft_w",
})
df_ft

,count_floors_pre_eq,age,area_percentage,height_percentage,roof_type,ground_floor_type,other_floor_type,position,plan_configuration,has_superstructure_adobe_mud,...,has_secondary_use_use_police,has_secondary_use_other,lsc_n,lsc_o,lsc_t,ft_h,ft_i,ft_r,ft_u,ft_w
building_id,,,,,,,,,,,,,,,,,,,,,
802906,2,30,6,5,n,f,q,t,d,1,...,0,0,0,0,1,0,0,1,0,0
28830,2,10,8,7,n,x,q,s,d,0,...,0,0,0,1,0,0,0,1,0,0
94947,2,10,5,5,n,f,x,t,d,0,...,0,0,0,0,1,0,0,1,0,0
590882,2,10,6,5,n,f,x,s,d,0,...,0,0,0,0,1,0,0,1,0,0
201944,3,30,8,9,n,f,x,s,d,1,...,0,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168990,2,5,7,5,n,f,x,s,d,0,...,0,0,0,0,1,0,0,0,0,1
966340,1,5,7,3,q,v,j,s,d,0,...,0,0,0,0,1,0,0,1,0,0
842927,2,35,6,7,n,f,x,s,d,0,...,0,0,1,0,0,0,0,1,0,0
411281,3,55,23,6,n,f,x,s,d,0,...,0,0,0,0,1,0,0,1,0,0
622439,1,5,4,3,n,f,j,s,d,0,...,0,0,0,0,1,0,0,0,0,1

In [7]:
df_rt = df_ft.drop(columns=['roof_type']).join(pd.get_dummies(df_ft['roof_type'])).rename(columns={
    "n": "rt_n",
    "q": "rt_q",
    "x": "rt_x",
})
df_rt

,count_floors_pre_eq,age,area_percentage,height_percentage,ground_floor_type,other_floor_type,position,plan_configuration,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,...,lsc_o,lsc_t,ft_h,ft_i,ft_r,ft_u,ft_w,rt_n,rt_q,rt_x
building_id,,,,,,,,,,,,,,,,,,,,,
802906,2,30,6,5,f,q,t,d,1,1,...,0,1,0,0,1,0,0,1,0,0
28830,2,10,8,7,x,q,s,d,0,1,...,1,0,0,0,1,0,0,1,0,0
94947,2,10,5,5,f,x,t,d,0,1,...,0,1,0,0,1,0,0,1,0,0
590882,2,10,6,5,f,x,s,d,0,1,...,0,1,0,0,1,0,0,1,0,0
201944,3,30,8,9,f,x,s,d,1,0,...,0,1,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168990,2,5,7,5,f,x,s,d,0,0,...,0,1,0,0,0,0,1,1,0,0
966340,1,5,7,3,v,j,s,d,0,0,...,0,1,0,0,1,0,0,0,1,0
842927,2,35,6,7,f,x,s,d,0,1,...,0,0,0,0,1,0,0,1,0,0
411281,3,55,23,6,f,x,s,d,0,1,...,0,1,0,0,1,0,0,1,0,0
622439,1,5,4,3,f,j,s,d,0,0,...,0,1,0,0,0,0,1,1,0,0

In [8]:
df_gft = df_rt.drop(columns=['ground_floor_type']).join(pd.get_dummies(df_rt['ground_floor_type'])).rename(columns={
    "f": "gft_f",
    "m": "gft_m",
    "v": "gft_v",
    "x": "gft_x",
    "z": "gft_z",
})
df_gft

,count_floors_pre_eq,age,area_percentage,height_percentage,other_floor_type,position,plan_configuration,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,...,ft_u,ft_w,rt_n,rt_q,rt_x,gft_f,gft_m,gft_v,gft_x,gft_z
building_id,,,,,,,,,,,,,,,,,,,,,
802906,2,30,6,5,q,t,d,1,1,0,...,0,0,1,0,0,1,0,0,0,0
28830,2,10,8,7,q,s,d,0,1,0,...,0,0,1,0,0,0,0,0,1,0
94947,2,10,5,5,x,t,d,0,1,0,...,0,0,1,0,0,1,0,0,0,0
590882,2,10,6,5,x,s,d,0,1,0,...,0,0,1,0,0,1,0,0,0,0
201944,3,30,8,9,x,s,d,1,0,0,...,0,0,1,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168990,2,5,7,5,x,s,d,0,0,0,...,0,1,1,0,0,1,0,0,0,0
966340,1,5,7,3,j,s,d,0,0,0,...,0,0,0,1,0,0,0,1,0,0
842927,2,35,6,7,x,s,d,0,1,0,...,0,0,1,0,0,1,0,0,0,0
411281,3,55,23,6,x,s,d,0,1,0,...,0,0,1,0,0,1,0,0,0,0
622439,1,5,4,3,j,s,d,0,0,0,...,0,1,1,0,0,1,0,0,0,0

In [9]:
df_oft = df_gft.drop(columns=['other_floor_type']).join(pd.get_dummies(df_gft['other_floor_type'])).rename(columns={
    "j": "oft_j",
    "q": "oft_q",
    "s": "oft_s",
    "x": "oft_x",
})
df_oft

,count_floors_pre_eq,age,area_percentage,height_percentage,position,plan_configuration,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_cement_mortar_stone,...,rt_x,gft_f,gft_m,gft_v,gft_x,gft_z,oft_j,oft_q,oft_s,oft_x
building_id,,,,,,,,,,,,,,,,,,,,,
802906,2,30,6,5,t,d,1,1,0,0,...,0,1,0,0,0,0,0,1,0,0
28830,2,10,8,7,s,d,0,1,0,0,...,0,0,0,0,1,0,0,1,0,0
94947,2,10,5,5,t,d,0,1,0,0,...,0,1,0,0,0,0,0,0,0,1
590882,2,10,6,5,s,d,0,1,0,0,...,0,1,0,0,0,0,0,0,0,1
201944,3,30,8,9,s,d,1,0,0,0,...,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168990,2,5,7,5,s,d,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
966340,1,5,7,3,s,d,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
842927,2,35,6,7,s,d,0,1,0,0,...,0,1,0,0,0,0,0,0,0,1
411281,3,55,23,6,s,d,0,1,0,0,...,0,1,0,0,0,0,0,0,0,1
622439,1,5,4,3,s,d,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0

In [10]:
df_p = df_oft.drop(columns=['position']).join(pd.get_dummies(df_oft['position'])).rename(columns={
    "j": "p_j",
    "o": "p_o",
    "s": "p_s",
    "t": "p_t",
})
df_p

,count_floors_pre_eq,age,area_percentage,height_percentage,plan_configuration,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_cement_mortar_stone,has_superstructure_mud_mortar_brick,...,gft_x,gft_z,oft_j,oft_q,oft_s,oft_x,p_j,p_o,p_s,p_t
building_id,,,,,,,,,,,,,,,,,,,,,
802906,2,30,6,5,d,1,1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
28830,2,10,8,7,d,0,1,0,0,0,...,1,0,0,1,0,0,0,0,1,0
94947,2,10,5,5,d,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,1
590882,2,10,6,5,d,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
201944,3,30,8,9,d,1,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168990,2,5,7,5,d,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
966340,1,5,7,3,d,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
842927,2,35,6,7,d,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
411281,3,55,23,6,d,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
622439,1,5,4,3,d,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [11]:
df_pc = df_p.drop(columns=['plan_configuration']).join(pd.get_dummies(df_p['plan_configuration'])).rename(columns={
    "a": "pc_a",
    "c": "pc_c",
    "d": "pc_d",
    "f": "pc_f",
    "m": "pc_m",
    "n": "pc_n",
    "o": "pc_o",
    "q": "pc_q",
    "s": "pc_s",
    "u": "pc_u",
})
df_pc

,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_cement_mortar_stone,has_superstructure_mud_mortar_brick,has_superstructure_cement_mortar_brick,...,pc_a,pc_c,pc_d,pc_f,pc_m,pc_n,pc_o,pc_q,pc_s,pc_u
building_id,,,,,,,,,,,,,,,,,,,,,
802906,2,30,6,5,1,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
28830,2,10,8,7,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
94947,2,10,5,5,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
590882,2,10,6,5,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
201944,3,30,8,9,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168990,2,5,7,5,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
966340,1,5,7,3,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
842927,2,35,6,7,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
411281,3,55,23,6,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
622439,1,5,4,3,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [12]:
df_los = df_pc.drop(columns=['legal_ownership_status']).join(pd.get_dummies(df_pc['legal_ownership_status'])).rename(columns={
    "a": "los_a",
    "r": "los_r",
    "v": "los_v",
    "w": "los_w",
})
df_los

,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_cement_mortar_stone,has_superstructure_mud_mortar_brick,has_superstructure_cement_mortar_brick,...,pc_m,pc_n,pc_o,pc_q,pc_s,pc_u,los_a,los_r,los_v,los_w
building_id,,,,,,,,,,,,,,,,,,,,,
802906,2,30,6,5,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
28830,2,10,8,7,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
94947,2,10,5,5,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
590882,2,10,6,5,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
201944,3,30,8,9,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168990,2,5,7,5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
966340,1,5,7,3,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
842927,2,35,6,7,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
411281,3,55,23,6,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
622439,1,5,4,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [13]:
numpy_database = df_los.to_numpy(dtype=numpy.int64)
numpy_database

array([[ 2, 30,  6, ...,  0,  1,  0],
       [ 2, 10,  8, ...,  0,  1,  0],
       [ 2, 10,  5, ...,  0,  1,  0],
       ...,
       [ 2, 35,  6, ...,  0,  1,  0],
       [ 3, 55, 23, ...,  0,  1,  0],
       [ 1,  5,  4, ...,  0,  1,  0]], dtype=int64)

In [14]:
numpy_database[:1]

array([[ 2, 30,  6,  5,  1,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,
         1,  0,  0,  1,  0,  0,  1,  0,  0,  0,  0,  0,  1,  0,  0,  0,
         0,  0,  1,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,
         0]], dtype=int64)

In [15]:
dataset = tf.data.Dataset.from_tensor_slices((df_los, target.values))
dataset

In [16]:
for feat, targ in dataset.take(5):
  print ('Features: {}, Target: {}'.format(feat, targ))

Features: [ 2 30  6  5  1  1  0  0  0  0  0  0  0  0  0  1  0  0  0  0  0  0  0  0
  0  0  0  0  0  1  0  0  1  0  0  1  0  0  1  0  0  0  0  0  1  0  0  0
  0  0  1  0  0  1  0  0  0  0  0  0  0  0  0  1  0], Target: 3
Features: [ 2 10  8  7  0  1  0  0  0  0  0  0  0  0  0  1  0  0  0  0  0  0  0  0
  0  0  0  0  1  0  0  0  1  0  0  1  0  0  0  0  0  1  0  0  1  0  0  0
  0  1  0  0  0  1  0  0  0  0  0  0  0  0  0  1  0], Target: 2
Features: [ 2 10  5  5  0  1  0  0  0  0  0  0  0  0  0  1  0  0  0  0  0  0  0  0
  0  0  0  0  0  1  0  0  1  0  0  1  0  0  1  0  0  0  0  0  0  0  1  0
  0  0  1  0  0  1  0  0  0  0  0  0  0  0  0  1  0], Target: 3
Features: [ 2 10  6  5  0  1  0  0  0  0  1  1  0  0  0  1  0  0  0  0  0  0  0  0
  0  0  0  0  0  1  0  0  1  0  0  1  0  0  1  0  0  0  0  0  0  0  1  0
  0  1  0  0  0  1  0  0  0  0  0  0  0  0  0  1  0], Target: 2
Features: [ 3 30  8  9  1  0  0  0  0  0  0  0  0  0  0  1  0  0  0  0  0  0  0  0
  0  0  0  0  0  1  0  0  1  0  0  1  0  0  1  0  0  0  0  0  0  0  1  0
  0  1  0  0  0  1  0  0  0  0  0  0  0  0  0  1  0], Target: 3

In [18]:
train_dataset = dataset.shuffle(len(df)).batch(1)
train_dataset

In [23]:
model = tf.keras.Sequential([
    tf.keras.layers.Dense(65, activation='relu'),
    tf.keras.layers.Dense(65, activation='relu'),
    tf.keras.layers.Dense(3)
  ])
loss_fn = tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True)
model.compile(optimizer='Adagrad',
              loss=loss_fn,
              metrics=['accuracy'])
model.fit(train_dataset, epochs=5)

Epoch 1/5
  3672/130300 [..............................] - ETA: 5:23 - loss: nan - accuracy: 0.0000e+00

KeyboardInterrupt: