In [6]:
import pandas as pd
import tensorflow as tf
import numpy
df_train_labels_original = pd.read_csv('train_labels.csv',low_memory=False, dtype= {
    'damage_grade':'uint8'
}).set_index('building_id')
df_train_values_original = pd.read_csv('train_values.csv',low_memory=False, dtype= {
    'geo_level_1_id':'category', 
    'geo_level_2_id':'category',
    'geo_level_3_id':'category', 
    'count_floors_pre_eq':'uint8',
    'age':'uint16',
    'area_percentage':'uint16', 
    'height_percentage':'uint16', 
    'land_surface_condition':'category', 
    'foundation_type':'category',
    'roof_type':'category',
    'ground_floor_type':'category',
    'other_floor_type':'category',
    'position':'category',
    'plan_configuration':'category', 
    'has_superstructure_adobe_mud':'uint8',
    'has_superstructure_mud_mortar_stone':'uint8',
    'has_superstructure_stone_flag':'uint8',
    'has_superstructure_cement_mortar_stone':'uint8', 
    'has_superstructure_mud_mortar_brick':'uint8', 
    'has_superstructure_cement_mortar_brick':'uint8', 
    'has_superstructure_timber':'uint8', 
    'has_superstructure_bamboo':'uint8',
    'has_superstructure_rc_non_engineered':'uint8',
    'has_superstructure_rc_engineered':'uint8',
    'has_superstructure_other':'uint8', 
    'legal_ownership_status':'category',
    'count_families':'uint16', 
    'has_secondary_use':'uint8', 
    'has_secondary_use_agriculture':'uint8', 
    'has_secondary_use_hotel':'uint8',
    'has_secondary_use_rental':'uint8',
    'has_secondary_use_institution':'uint8',
    'has_secondary_use_school':'uint8', 
    'has_secondary_use_industry':'uint8', 
    'has_secondary_use_health_post':'uint8', 
    'has_secondary_use_gov_office':'uint8', 
    'has_secondary_use_use_police':'uint8', 
    'has_secondary_use_other':'uint8',
}).set_index('building_id')

pd.options.display.float_format = '{:20,.2f}'.format

In [7]:
df = df_train_values_original.join(df_train_labels_original,how="inner")
df

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,...,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade
building_id,,,,,,,,,,,,,,,,,,,,,
802906,6,487,12198,2,30,6,5,t,r,n,...,0,0,0,0,0,0,0,0,0,3
28830,8,900,2812,2,10,8,7,o,r,n,...,0,0,0,0,0,0,0,0,0,2
94947,21,363,8973,2,10,5,5,t,r,n,...,0,0,0,0,0,0,0,0,0,3
590882,22,418,10694,2,10,6,5,t,r,n,...,0,0,0,0,0,0,0,0,0,2
201944,11,131,1488,3,30,8,9,t,r,n,...,0,0,0,0,0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
688636,25,1335,1621,1,55,6,3,n,r,n,...,0,0,0,0,0,0,0,0,0,2
669485,17,715,2060,2,0,6,5,t,r,n,...,0,0,0,0,0,0,0,0,0,3
602512,17,51,8163,3,55,6,7,t,r,q,...,0,0,0,0,0,0,0,0,0,3
151409,26,39,1851,2,10,14,6,t,r,x,...,0,0,0,0,0,0,0,0,0,2
747594,21,9,9101,3,10,7,6,n,r,n,...,0,0,0,0,0,0,0,0,0,3

In [50]:
def category_encoding(dataframe, column_name):
    new_column_names = {
        '1': column_name+'_1',
        '2': column_name+'_1',
        '3': column_name+'31',
    }
    cross = pd.crosstab(dataframe[column_name], dataframe['damage_grade']).rename(columns=new_column_names)
    prob = cross.divide(geo_cross.apply('sum',axis=1),axis=0).reset_index()
    return df.reset_index().merge(prob,on=column_name).set_index('building_id').drop([column_name],axis=1)

In [51]:
category_encoding(df, 'geo_level_1_id')

,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,ground_floor_type,...,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade,1,2,3
building_id,,,,,,,,,,,,,,,,,,,,,
802906,487,12198,2,30,6,5,t,r,n,f,...,0,0,0,0,0,0,3,0.09,0.67,0.25
633759,706,12267,2,5,7,5,t,r,n,f,...,0,0,0,0,0,0,2,0.09,0.67,0.25
157370,706,11722,2,20,4,4,t,r,n,f,...,0,0,0,0,0,0,2,0.09,0.67,0.25
33651,1210,9423,3,40,5,7,t,r,n,f,...,0,0,0,0,0,0,3,0.09,0.67,0.25
1005736,724,7981,2,10,5,5,t,r,n,f,...,0,0,0,0,0,0,2,0.09,0.67,0.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
536753,748,538,2,50,8,5,t,r,n,f,...,0,0,0,0,0,0,2,0.02,0.88,0.10
887322,775,9382,2,15,7,5,t,r,n,f,...,0,0,0,0,0,0,2,0.02,0.88,0.10
366268,903,10775,2,10,12,6,t,r,n,f,...,0,0,0,0,0,0,2,0.02,0.88,0.10
254715,1360,7039,2,15,11,4,t,r,n,f,...,0,0,0,0,0,0,3,0.02,0.88,0.10
165153,748,10308,2,5,6,5,t,r,n,f,...,0,0,0,0,0,0,2,0.02,0.88,0.10