In [15]:
import pandas as pd
import tensorflow as tf
import numpy

In [16]:
model = tf.keras.models.load_model('modelos/NNModelBY_Best')

In [17]:
df = pd.read_csv('test_values.csv',low_memory=False, dtype= {
    'geo_level_1_id':'int64', 
    'geo_level_2_id':'int64',
    'geo_level_3_id':'int64', 
    'count_floors_pre_eq':'uint8',
    'age':'uint16',
    'area_percentage':'uint16', 
    'height_percentage':'uint16', 
    'land_surface_condition':'category', 
    'foundation_type':'category',
    'roof_type':'category',
    'ground_floor_type':'category',
    'other_floor_type':'category',
    'position':'category',
    'plan_configuration':'category', 
    'has_superstructure_adobe_mud':'uint8',
    'has_superstructure_mud_mortar_stone':'uint8',
    'has_superstructure_stone_flag':'uint8',
    'has_superstructure_cement_mortar_stone':'uint8', 
    'has_superstructure_mud_mortar_brick':'uint8', 
    'has_superstructure_cement_mortar_brick':'uint8', 
    'has_superstructure_timber':'uint8', 
    'has_superstructure_bamboo':'uint8',
    'has_superstructure_rc_non_engineered':'uint8',
    'has_superstructure_rc_engineered':'uint8',
    'has_superstructure_other':'uint8', 
    'legal_ownership_status':'category',
    'count_families':'uint16', 
    'has_secondary_use':'uint8', 
    'has_secondary_use_agriculture':'uint8', 
    'has_secondary_use_hotel':'uint8',
    'has_secondary_use_rental':'uint8',
    'has_secondary_use_institution':'uint8',
    'has_secondary_use_school':'uint8', 
    'has_secondary_use_industry':'uint8', 
    'has_secondary_use_health_post':'uint8', 
    'has_secondary_use_gov_office':'uint8', 
    'has_secondary_use_use_police':'uint8', 
    'has_secondary_use_other':'uint8',
}).set_index('building_id')

In [18]:
df_train_labels_original = pd.read_csv('train_labels.csv',low_memory=False, dtype= {
    'damage_grade':'uint8'
}).set_index('building_id').apply(lambda x: x-1)
df_train_values_original = pd.read_csv('train_values.csv',low_memory=False, dtype= {
    'geo_level_1_id':'int64', 
    'geo_level_2_id':'int64',
    'geo_level_3_id':'int64', 
    'count_floors_pre_eq':'uint8',
    'age':'uint16',
    'area_percentage':'uint16', 
    'height_percentage':'uint16', 
    'land_surface_condition':'category', 
    'foundation_type':'category',
    'roof_type':'category',
    'ground_floor_type':'category',
    'other_floor_type':'category',
    'position':'category',
    'plan_configuration':'category', 
    'has_superstructure_adobe_mud':'uint8',
    'has_superstructure_mud_mortar_stone':'uint8',
    'has_superstructure_stone_flag':'uint8',
    'has_superstructure_cement_mortar_stone':'uint8', 
    'has_superstructure_mud_mortar_brick':'uint8', 
    'has_superstructure_cement_mortar_brick':'uint8', 
    'has_superstructure_timber':'uint8', 
    'has_superstructure_bamboo':'uint8',
    'has_superstructure_rc_non_engineered':'uint8',
    'has_superstructure_rc_engineered':'uint8',
    'has_superstructure_other':'uint8', 
    'legal_ownership_status':'category',
    'count_families':'uint16', 
    'has_secondary_use':'uint8', 
    'has_secondary_use_agriculture':'uint8', 
    'has_secondary_use_hotel':'uint8',
    'has_secondary_use_rental':'uint8',
    'has_secondary_use_institution':'uint8',
    'has_secondary_use_school':'uint8', 
    'has_secondary_use_industry':'uint8', 
    'has_secondary_use_health_post':'uint8', 
    'has_secondary_use_gov_office':'uint8', 
    'has_secondary_use_use_police':'uint8', 
    'has_secondary_use_other':'uint8',
}).set_index('building_id')


pd.options.display.float_format = '{:20,.2f}'.format

In [19]:
df = df_train_values_original[173733:]

In [20]:
def one_hot_encode_data(dataframe, column_name):
    dummies = pd.get_dummies(dataframe[column_name])
    rename_columns = {}
    for column in dummies.columns.values:
        rename_columns[column] = column_name + '_' + str(column)
    return dataframe.drop(columns=[column_name]).join(dummies.rename(columns=rename_columns))

In [21]:
df = one_hot_encode_data(df,'land_surface_condition')
df = one_hot_encode_data(df,'foundation_type')
df = one_hot_encode_data(df,'roof_type')
df = one_hot_encode_data(df,'ground_floor_type')
df = one_hot_encode_data(df,'other_floor_type')
df = one_hot_encode_data(df,'position')
df = one_hot_encode_data(df,'plan_configuration')
df = one_hot_encode_data(df,'legal_ownership_status')
df = one_hot_encode_data(df,'geo_level_1_id')
df.sort_values('geo_level_2_id')

,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_cement_mortar_stone,...,geo_level_1_id_21,geo_level_1_id_22,geo_level_1_id_23,geo_level_1_id_24,geo_level_1_id_25,geo_level_1_id_26,geo_level_1_id_27,geo_level_1_id_28,geo_level_1_id_29,geo_level_1_id_30
building_id,,,,,,,,,,,,,,,,,,,,,
735144,0,7341,2,30,15,5,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1052190,0,7037,1,15,15,3,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
603308,0,3456,1,20,20,3,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
317173,0,9045,4,0,29,10,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
437401,0,7341,2,0,20,5,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212758,1426,2464,2,0,6,6,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
670805,1426,5679,3,5,8,6,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
792994,1426,5520,3,10,5,6,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
289073,1426,2605,1,5,4,2,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
219223,1427,3381,1,35,8,3,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0

In [23]:
mean_df = pd.read_csv('geolevel_2_id_mean.csv',low_memory=False)
mean_df

,geo_level_2_id,0,1,2
0,0,0.04,0.40,0.56
1,1,0.01,0.61,0.38
2,3,0.04,0.73,0.23
3,4,0.01,0.43,0.56
4,5,0.04,0.77,0.19
...,...,...,...,...
1393,1423,0.10,0.57,0.33
1394,1424,0.07,0.69,0.24
1395,1425,0.00,0.31,0.69
1396,1426,0.01,0.21,0.78
1397,1427,0.06,0.47,0.47

In [24]:
df = df.reset_index().merge(mean_df,on='geo_level_2_id',how='left').set_index('building_id')
df = df.drop(columns=['geo_level_2_id', 'geo_level_3_id'])
df

,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_cement_mortar_stone,has_superstructure_mud_mortar_brick,has_superstructure_cement_mortar_brick,...,geo_level_1_id_24,geo_level_1_id_25,geo_level_1_id_26,geo_level_1_id_27,geo_level_1_id_28,geo_level_1_id_29,geo_level_1_id_30,0,1,2
building_id,,,,,,,,,,,,,,,,,,,,,
1024699,3,25,5,7,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0.02,0.82,0.16
263346,3,20,13,7,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0.02,0.49,0.49
901921,3,20,5,7,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0.03,0.45,0.52
779872,2,100,6,4,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0.03,0.58,0.39
109652,2,30,8,5,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0.02,0.69,0.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
688636,1,55,6,3,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0.16,0.73,0.11
669485,2,0,6,5,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0.01,0.09,0.90
602512,3,55,6,7,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0.02,0.08,0.90
151409,2,10,14,6,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0.50,0.47,0.03
747594,3,10,7,6,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0.01,0.28,0.72

In [25]:
average_damage = pd.get_dummies(df_train_labels_original['damage_grade'][:int(len(df_train_labels_original)/2)]).mean().values
average_damage

array([0.09630852, 0.56933998, 0.3343515 ])

In [26]:
df['0'] = df['0'].fillna(average_damage[0])
df['1'] = df['1'].fillna(average_damage[1])
df['2'] = df['2'].fillna(average_damage[2])

In [27]:
test_database = df.to_numpy()
predictions = model(test_database).numpy()
pd.DataFrame(predictions).set_index(df.index).to_csv("ensamble_train_feda.csv")

In [74]:
test_database = df.to_numpy()
predictions = model(test_database).numpy()
building_ids = df.reset_index()['building_id']
results = []
for line in predictions:
    if line[0] > line [1] and line [0] > line [2]:
        results.append(1)
    elif line[1] > line[2]:
        results.append(2)
    else:
        results.append(3)
result_series = pd.Series(results).rename("damage_grade")
my_submission = pd.merge(building_ids,result_series,left_index=True,right_index=True).set_index('building_id')

In [75]:
my_submission.to_csv('submission_feda_6.csv')